*{
 margin: 0;
 padding: 0;
 box-sizing: box-border;
 font-family: 'Segoe UI', sans-serif;
}

.header{
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 padding: 20px 10%;
 background: transparent;
 display: flex;
 justify-content: space-between;
 align-items: center;
 z-index: 100;
}

.logo{
 font-size: 25px;
 color: #fff;
 text-decoration: none;
 font-weight: 700;
 text-shadow: 0 0 10px #fff;
 animation: slideCrazy 2.2s ease-in-out forwards;
}

.navbar a{
 font-size: 18px;
 color: #fff;
 text-decoration: none;
 font-weight: 500;
 margin-left: 35px;
 margin-right: 25px;
 animation: GL0W 5s ease forwards;
}

.navbar a:hover{
 color: #00abf0;
}

.home{
 height: 100vh;
 background: #031540;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0 10%;
}

.home-image{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 500px;
 height: 500px;
 background: #031540;
 border-radius: 50%;
 border: 25px solid #fff;
}

.home-content{
 max-width: 600px;
 color: #fff;
 text-align: right;
}

.home-content h1{
 font-size: 55px;
 line-height: 1.2;
 text-shadow: 0 0 10px #fff;
 animation: slideCrazy 2.2s ease-in-out forwards;
}

.home-content h3{
 font-size: 40px;
 color: #00abf0;
 text-shadow: 0 0 10px cyan;
 animation: slideCrazy 2.2s ease-in-out forwards;
}

.home-content p{
 font-size: 16px;
 margin-top: 20px;
 animation: fadeUP 1.6s;
}
.home-content .h3{
 font-size: 40px;
 color: #00abf0;
 text-shadow: 0 0 10px cyan;
 animation: slideRIGHT 1.5s ease-out forwards;
}

.home-image img{
 position: relative;
 bottom: 22px;
 max-width: 380px;
 margin-top: 32px;
}

body{
 background: #031540;
}

.About{
 font-size: 55px;
 color: #fff;
 margin-left: 15px;
 text-shadow: 0 0 10px #fff;
 animation: slideCrazy 2.2s ease-in-out forwards;
}

.p{
 font-size: 20px;
 color: cyan;
 margin-left: 15px;
 animation: fadeUP 1.6s;
}

li{
 font-size: 20px;
 color: cyan;
 margin-left: 15px;
 animation: fadeUP 1.6s;
}

.Me{
 color: cyan;
 font-size: 45px;
 margin-left: 15px;
 text-shadow: 0 0 10px cyan;
 animation: slideCrazy 2.2s ease-in-out forwards;
}

.role{
 font-size: 45px;
 white-space: nowrap;
 animation: slideCrazy 2.2s ease-in-out forwards;
 margin-left: 15px;
}

.Front{
 color: cyan;
 text-shadow: 0 0 10px cyan;
}

.End{
 color: #0044ff;
 text-shadow: 0 0 10px #0022aa;
}

.Developer{
 color: #ff3333;
 text-shadow: 0 0 10px #ff0000;
}

@keyframes slideCrazy{
 0%{
   transform: translateX(100vw);
   opacity: 0;
}
 50%{
   transform: translateX(-50px);
   opacity: 1;
}
 70%{
   transform: translateX(20px);
}
 100%{
   transform: translateX(0);
}
}

@keyframes fadeUP{
 0%{
   transform: translateY(60px);
   opacity: 0;
}
 60%{
   transform: translateY(10px);
   opacity: 0.8;
}
 100%{
   transform: translateY(0);
   opacity: 1;
}
}

@keyframes GL0W{
 0%{
   transform: translateY(100px);
   opacity: 0;
}
 100%{
   transform: translateY(0);
   opacity: 1;
}
}

@keyframes slideRIGHT{
 0%{
   transform: translateX(-120px);
   opacity: 0;
}
 60%{
   transform: translateX(15px);
   opacity: 0.8;
}
 100%{
   transform: translateX(0);
   opacity: 1;
}
}

@keyframes fillBar{
	from { width: 0; }
	to   { width:var(--width, 905); }
}

@keyframes slideUp{
	from {
		transform: translateY(60px);
		opacity: 0;
	}

	to{
		transform: translateY(0);
		opacity: 1;
	}
}

html{
 scroll-behavior: smooth;
}


.skills .SkILLS{
 text-align: center;
 color: cyan;
 text-shadow: 0 0 10px cyan;
 font-size: 55px;
}

.skills-content{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 width: 100%;
 max-width: 1200px;
 animation: slideUp 1.2s ease;
}

.technical-skills{
 width: 45px;
 min-width: 300px;
}

.technical-skills h2{
 font-size: 1.8rem;
 color: #00ffff;
 margin-bottom: 25px;
 text-align: center;
}

.skill-bar{
 margin: 20px 0;
}

.skill-bar p{
 font-size: 1rem;
 margin-bottom: 8px;
 color: #bcdcff;
 letter-spacing: 1px;
}

.bar{
 background: #022c43;
 height: 10px;
 border-radius: 10px;
 overflow: hidden;
 box-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
}

.bar span{
 display: block;
 height: 100%;
 background: linear-gradient(90deg, cyan, #00bcd4);
 border-radius: 10px;
 width: 0;
 animation: fillBar 2s forwards;
}

.professional-skills{
 width: 45px;
 min-width: 300px;
 position: absolute;
 right: 50px;
 top: 1430px;
 text-align: right;
}

.professional-skills h2{
 font-size: 1.8rem;
 color: #00ffff;
 margin-bottom: 25px;
 text-align: center;
}

.circle-container{
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
 gap: 25px;
}

.circle{
 text-align: center;
}

.inner{
 width: 110px;
 height: 110px;
 border: 5px solid cyan;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
 box-shadow: 0 0 15px rgba(0, 255,255, 0.4);
 transition: 0.3s ease;
}

.inner:after{
 content: attr(data-percent) "%";
 position: absolute;
 color: cyan;
 font-size: 1.2rem;
 font-weight: bold;
}

.circle p{
 margin-top: 10px;
 font-size: 1rem;
 color: #bfc7d5;
}

.inner:hover{
 box-shadow: 0 0 25px cyan, 0 0 50px cyan;
}

.Service{
 text-align: center;
 color: cyan;
 text-shadow: 0 0 10px cyan;
 font-size: 55px;
}

h3{
 font-size: 45px;
 text-shadow: 0 0 10px red;
 color: red;
}

.ser{
  font-size: 40px;
  color: blue;
  text-shadow: 0 0 10px blue;
}

li{
  font-size: 27px;
  font-weight: 1000;
}

.PrOjects{
 color: cyan;
 text-shadow: 0 0 10px cyan;
 font-size: 40px;
 text-align: center;
}

#image{
 margin-left: 50px;
 border-radius: 20px;
 border-style: outset;
 border-color: #0022aa;
}

.btn{
 background-color: #031540;
}